<div id="leftmenu">
<div class="menu" ng-if="menuDisplay">
  <ul>
    <p>NAVIGATE</p>
    <li ui-sref-active="active"><a ui-sref="dashboard" ><i class="fa fa-line-chart" aria-hidden="true"></i> Analytics</a></li>
    <li ui-sref-active="active"><a ui-sref="news"><i class="fa fa-newspaper-o" aria-hidden="true"></i> News</a></li>
    <li><a href="#"><i class="fa fa-file-text" aria-hidden="true"></i> Board Breif</a></li>
    <li><a href="#"><i class="fa fa-suitcase" aria-hidden="true"></i> Briefcase</a></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li><a href="javascript:void(0);" ng-click="toggleMenu()"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Close menu</a></li>
  </ul>
</div>
</div>
<div class="menu-open" ng-if="!menuDisplay">
    <a href="javascript:void(0);" ng-click="toggleMenu()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
</div>
<script>
$(document).ready(function() {
    var document_height = $(window).height();
    console.log(document_height)
    var $sidebar = $('#sidebar');
    $sidebar.height(document_height - 56);
    var $window = $(window).on('resize', function(){
       var height = $(this).height() - 56;
       $sidebar.height(height);
    }).trigger('resize');
});
</script>
