<div class="box">
  <div class="thumbnail">
    <div class="title">
      Chain Store Age
      <span>Feb 22, 2016
      </span>
    </div>
    <div class="caption">
      <p>Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...
      </p>
    </div>
  </div>
</div>

<div class="box">
  <div class="thumbnail">
    <div class="title">
      Chain Store Age
      <span>Feb 22, 2016
      </span>
    </div>
    <div class="caption">
      <p>Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...
      </p>
    </div>
  </div>
</div>
<div class="box">
  <div class="thumbnail">
    <div class="title">
      Chain Store Age
      <span>Feb 22, 2016
      </span>
    </div>
    <div class="caption">
      <p>Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...
      </p>
    </div>
  </div>
</div>
<div class="box">
  <div class="thumbnail">
    <div class="title">
      Chain Store Age
      <span>Feb 22, 2016
      </span>
    </div>
    <div class="caption">
      <p>Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...
      </p>
    </div>
  </div>
</div>
